<h1>New Product</h1>

<%= form_for :user, url: '/new_product' do |f| %>

  Title: <%= f.text_field :title %>
  Description: <%= f.text_field :description %>
  Deadline to Bid: <%= f.date_field :deadline %>
  <%= f.submit "Submit" %>

<%end%>
